
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Jado绿能侠</title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../../css/mui.min.css" rel="stylesheet" />
	    <link rel="stylesheet" type="text/css" href="../../css/icons-extra.css" />
        
        <style type="text/css">
            .mui-icon-extra-1{font-size: 2.2em !important;line-height: 1.07;}
            .mui-icon{color: #1DA7F4;}
            .mui-header{background-color: #1DA7F4;height: 100px;}
            .mui-header .mui-content{padding-top:0px !important;}
            .mui-header .mui-content>.mui-table-view:first-child{margin-top: 0px;}
            .mui-header .head-img{float: left;width: 50px;height: 50px;margin-left: 20px;margin-top: 20px;}
            .mui-header .head-content{float: left;padding: 14px 12px;}
            .mui-header .head-header{text-align: center;color: #fff;font-size: 1.2em;padding-top: 8px;}
            .mui-header .head-content div{color: #efefef;font-size: 1em;line-height: 1.4;}
            .mui-header .head-img .mui-icon{color: #efefef;font-size: 2.5em;}
        </style>
        
    </head>
    <body>
        <!-- <header class="mui-bar mui-bar-nav">
            <h1 class="mui-title">首页</h1>
        </header> -->
        <div class="mui-header">
            <div class="head-header">首页</div>
            <div class="head-img">
                <span class="mui-icon mui-icon-contact"></span>
            </div>
            <div class="head-content">
                <div id="name"></div>
                <div id="type"></div>
            </div>
        </div>
        <div class="mui-content">
            <ul class="mui-table-view mui-grid-view mui-grid-9">
                <li id="tzsyb" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" style="display: none;">
                    <a href="#sheet_0">
                        <span class="mui-icon mui-icon-extra-1 mui-icon-extra mui-icon-extra-prech">
                        </span>
                        <div class="mui-media-body">投资收益表</div>
                    </a>
                </li>
                <li id="hygl" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" style="display: none;">
                    <a href="#sheet_1">
                        <span class="mui-icon mui-icon-eye">
                        </span>
                        <div class="mui-media-body">会员管理</div>
                    </a>
                </li>
                <li id="khxm" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" style="display: none;">
                    <a href="#sheet_2">
                        <span class="mui-icon mui-icon-person">
                        </span>
                        <div class="mui-media-body">客户项目</div>
                    </a>
                </li>
                <li id="kcsj" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" style="display: none;">
                    <a href="#sheet_3">
                        <span class="mui-icon mui-icon mui-icon-videocam">
                        </span>
                        <div class="mui-media-body">勘察设计</div>
                    </a>
                </li>
                <li id="qytj" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" style="display: none;">
                    <a href="#sheet_4">
                        <span class="mui-icon mui-icon mui-icon-upload">
                        </span>
                        <div class="mui-media-body">企业推荐</div>
                    </a>
                </li>
                <li id="grzx" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" style="display: none;">
                    <a href="?controller=Acm_App_User&action=Index">
                        <span class="mui-icon mui-icon-info">
                        </span>
                        <div class="mui-media-body">个人中心</div>
                    </a>
                </li>
                <li id="emsjk" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" style="display: none;">
                    <a href="?controller=Acm_App_User&action=Dianzhan">
                        <span class="mui-icon mui-icon-navigate">
                        </span>
                        <div class="mui-media-body">EMS监控</div>
                    </a>
                </li>
                <li id="xxmsg" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" style="display: none;">
                    <a href="?controller=MailApp&action=Index">
                        <span class="mui-icon mui-icon-email">
                            <span id="msgnum" class="mui-badge">3</span>                        </span>
                        <div class="mui-media-body">消息</div>
                    </a>
                </li>
        	</ul>
        </div>
        <div id="sheet_0" class="mui-popover mui-popover-action mui-popover-bottom" style="display: none;">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell" id="personal">
                    <div>
                        	个人投资收益表
                    </div>
                </li>
                <li class="mui-table-view-cell" id="qiye">
                    <div>
                         	企业投资收益表
                    </div>
                </li>
            </ul>
            <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                    <a href="#sheet_0" class=""><b>取消</b></a>
                </li>
            </ul>
        </div>
        <div id="sheet_1" class="mui-popover mui-popover-action mui-popover-bottom" style="display: none;">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell" id="memberReg">
                    <div>
                        	会员注册信息
                    </div>
                </li>
            </ul>
            <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                    <a href="#sheet_1" class=""><b>取消</b></a>
                </li>
            </ul>
        </div>
        <div id="sheet_2" class="mui-popover mui-popover-action mui-popover-bottom" style="display: none;">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell" id="proShenhe">
                    <div>
                        	项目审核分派
                    </div>
                </li>
                <li class="mui-table-view-cell" id="propersonal">
                    <div>
                           	居民项目申请
                    </div>
                </li>
                <li class="mui-table-view-cell" id="proqiye">
                    <div>
                            	企业项目申请
                    </div>
                </li>
                <li class="mui-table-view-cell" id="prolist">
                    <div>
                            	客户项目查询
                    </div>
                </li>
            </ul>
            <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                    <a href="#sheet_2" class=""><b>取消</b></a>
                </li>
            </ul>
        </div>
        <div id="sheet_3" class="mui-popover mui-popover-action mui-popover-bottom" style="display: none;">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell" id="renwu">
                    <div>
                        	待勘察客户
                    </div>
                </li>
                <li class="mui-table-view-cell" id="kanchalist">
                    <div>
               				已勘察客户
                    </div>
                </li>
            </ul>
            <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                    <a href="#sheet_3" class=""><b>取消</b></a>
                </li>
            </ul>
        </div>
        <div id="sheet_4" class="mui-popover mui-popover-action mui-popover-bottom" style="display: none;">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell" id="goto">
                    <div>
                            	我要推荐
                    </div>
                </li>
                <li class="mui-table-view-cell" id="qytjlist">
                    <div>
                                	推荐列表
                    </div>
                </li>
            </ul>
            <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                    <a href="#sheet_4" class=""><b>取消</b></a>
                </li>
            </ul>
        </div>
    </body>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/zepto.js"></script>
    <script src="../../js/mui.zoom.js"></script>
    <script src="../../js/mui.lazyload.js"></script>
    <script src="../../js/mui.lazyload.img.js"></script>
    <script src="../../js/mui.previewimage.js"></script>
    <script src="../../js/template.min.js"></script>
    <script src="../../config.js"></script>
    <script src="../../js/app.js"></script>
    <script src="../../js/sign.js"></script>
	<script src="../../js/md5.js"></script>
	<script src="../../js/jquery.1.9.1.js"></script>
	<script type="text/javascript">
	    var jQuery = jQuery.noConflict();
	</script>
    
    <script>
        mui.init({
            swipeBack:true //启用右滑关闭功能
        });
        var sid = localStorage.getItem("sid");
        mui.plusReady(function() {
        	loadUserInfo();
        	loadAuth();
        	
        	function loadUserInfo()
        	{
        		var obj_xx = {};
	        	obj_xx["sid"] = sid;
	        	obj_xx["type"] = 'simple';
	        	obj_xx["method"] = config.apimethod.userinfo;
        		obj_xx["version"] = config.apiversion;
	        	var sign = GetSign(obj_xx);
	        	var param = {
			        queryData: {
			          'method': config.apimethod.userinfo,
			          'sign':sign,
			          'sid':sid,
			          'type':"simple"
			        },
			        method: 'POST'
			    }
	        	$.dataRequest(param, function(rs) {
	        		//console.log(JSON.stringify(rs));
	        		jQuery('#name').html(rs.data.userName);
	        		jQuery('#type').html(rs.data.realName);
	        	})
        	}
        	
        	function loadAuth()
        	{
        		var obj_auth = {};
        		obj_auth["sid"] = sid;
        		obj_auth["method"] = config.apimethod.homemenu;
        		obj_auth["version"] = config.apiversion;
        		var sign = GetSign(obj_auth);
        		var param = {
			        queryData: {
			          'method': config.apimethod.homemenu,
			          'sign':sign,
			          'sid':sid
			        },
			        method: 'POST'
			    }
        		$.dataRequest(param, function(rs) {
	        		//console.log(JSON.stringify(rs));
	        		var obj_menu = {};
	        		obj_menu["tzsyb"] = false;
	        		obj_menu["hygl"] = false;
	        		obj_menu["khxm"] = false;
	        		obj_menu["kcsj"] = false;
	        		obj_menu["qytj"] = false;
	        		obj_menu["grzx"] = false;
	        		obj_menu["emsjk"] = false;
	        		obj_menu["xxmsg"] = false;
	        		for(var item1 in rs.data.Auth)
	        		{
	        			if(item1=="controller")
	        			{
	        				if(rs.data.Auth[item1])
	        					obj_menu["grzx"] = true;
	        			}else if(item1=="ems")
	        			{
	        				if(rs.data.Auth[item1])
	        					obj_menu["emsjk"] = true;
	        			}else if(item1=="msg")
	        			{
	        				if(rs.data.Auth[item1])
	        					obj_menu["xxmsg"] = true;
	        			}else if(item1=="profit")
	        			{
	        				if(rs.data.Auth[item1]["personal"])
	        				{
	        					obj_menu["tzsyb"] = true;
	        					jQuery('#personal').show();
	        				}else
	        				{
	        					jQuery('#personal').hide();
	        				}
	        				if(rs.data.Auth[item1]["qiye"])
	        				{
	        					obj_menu["tzsyb"] = true;
	        					jQuery('#qiye').show();
	        					
	        				}else
	        				{
	        					jQuery('#qiye').hide();
	        				}
	        			}else if(item1=="member")
	        			{
	        				if(rs.data.Auth[item1]["memberReg"])
	        				{
	        					obj_menu["hygl"] = true;
	        					jQuery('#memberReg').show();
	        				}else
	        				{
	        					jQuery('#memberReg').hide();
	        				}
	        			}else if(item1=="build")
	        			{
	        				if(rs.data.Auth[item1]["proShenhe"])
	        				{
	        					obj_menu["khxm"] = true;
	        					jQuery('#proShenhe').show();
	        				}else
	        				{
	        					jQuery('#proShenhe').hide();
	        				}
	        				
	        				if(rs.data.Auth[item1]["personal"])
	        				{
	        					obj_menu["khxm"] = true;
	        					jQuery('#propersonal').show();
	        					
	        				}else
	        				{
	        					jQuery('#propersonal').hide();
	        				}
	        				
	        				if(rs.data.Auth[item1]["qiye"])
	        				{
	        					obj_menu["khxm"] = true;
	        					jQuery('#proqiye').show();
	        					
	        				}else
	        				{
	        					jQuery('#proqiye').hide();
	        				}
	        				
	        				if(rs.data.Auth[item1]["list"])
	        				{
	        					obj_menu["khxm"] = true;
	        					jQuery('#prolist').show();
	        					
	        				}else
	        				{
	        					jQuery('#prolist').hide();
	        				}
	        			}else if(item1=="kancha")
	        			{
	        				if(rs.data.Auth[item1]["renwu"])
	        				{
	        					obj_menu["kcsj"] = true;
	        					jQuery('#renwu').show();
	        				}else
	        				{
	        					jQuery('#renwu').hide();
	        				}
	        				if(rs.data.Auth[item1]["list"])
	        				{
	        					obj_menu["kcsj"] = true;
	        					jQuery('#kanchalist').show();
	        					
	        				}else
	        				{
	        					jQuery('#kanchalist').hide();
	        				}
	        			}else if(item1=="qytj")
	        			{
	        				if(rs.data.Auth[item1]["goto"])
	        				{
	        					obj_menu["qytj"] = true;
	        					jQuery('#goto').show();
	        				}else
	        				{
	        					jQuery('#goto').hide();
	        				}
	        				if(rs.data.Auth[item1]["list"])
	        				{
	        					obj_menu["qytj"] = true;
	        					jQuery('#qytjlist').show();
	        					
	        				}else
	        				{
	        					jQuery('#qytjlist').hide();
	        				}
	        			}
	        		}
	        		for(var item in obj_menu)
	        		{
	        			if(obj_menu[item])
	        			{
	        				jQuery('#'+item).show();
	        			}
	        		}
	        	})
        	}
        	
        	mui(document).on('tap', '#personal', function() {
				clicked("_www/view/tzsyb/grtzsyb.html");
			});
			
			mui(document).on('tap', '#qiye', function() {
				clicked("_www/view/tzsyb/comtzsyb.html");
			});
			
			mui(document).on('tap', '#memberReg', function() {
				clicked("_www/view/memberReg/memberReg.html");
			});
			
			mui(document).on('tap', '#proShenhe', function() {
				clicked("_www/view/khxm/xmshfp.html");
			});
        })
    </script>
</html>