
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Jado绿能侠</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/mui.picker.min.css" />
    <link rel="stylesheet" type="text/css" href="../..//css/mui.poppicker.css" />
    <link rel="stylesheet" type="text/css" href="../../css/icons-extra.css" />
    
    <style type="text/css">
        /*.mui-plus header.mui-bar{
            display: none;
        }*/
        .mui-plus .mui-bar-nav~.mui-content{
            padding: 0;
        }

        /*hm开头的表示仅为 Hello MUI示例定义*/
        .hm-description{
            margin: .5em 0;
        }

        .hm-description>li {
            font-size: 14px;
            color: #8f8f94;
        }
        .mui-plus .plus{
            display: inline;
        }
        #btn_submit{z-index: 100;}
        html,
        body,
        .mui-content {
            height: 0px;
            margin: 0px;
            background-color: #efeff4;
        }
        h5.mui-content-padded {
            margin-left: 3px;
            margin-top: 20px !important;
        }
        h5.mui-content-padded:first-child {
            margin-top: 12px !important;
        }
        .mui-btn {
            font-size: 16px;
            padding: 8px;
            margin: 3px;
        }
        .ui-alert {
            text-align: center;
            padding: 20px 10px;
            font-size: 16px;
        }
        * {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
        }
        .plus{
            display: none;
        }

        p {
            text-indent: 22px;
        }
        span.mui-icon {
            font-size: 14px;
            color: #007aff;
            margin-left: -15px;
            padding-right: 10px;
        }
        .mui-popover {
            height: 100px;
        }
        .mui-content {
            /*padding: 10px;*/
        }
        #topPopover {
            position: fixed;
            top: 16px;
            left: 3px;
        }
        #topPopover .mui-popover-arrow {
            left: 3px;
        }

        footer{position: fixed;bottom: 0px;left: 0px;width: 100%;height: 40px;z-index: 99;}
        footer button{height: 40px;border-radius: 0px !important;padding:0px;line-height: 0.8 !important;margin: 0px !important;}
    .mui-input-row{height: auto !important;}
    .mui-input-btn-label{width: 100%;}
    .mui-input-row input[readonly]{background: #efefef;}
    .mui-input-row label{width: 40%;}
    .mui-input-row input[type='text'],textarea{width: 60% !important;}
    .mui-input-btn-label input[type='text']{width: 45% !important;float: left !important;}
    .mui-input-btn-label button{width: 15% !important;padding: 8px !important;margin:0px !important;}

    .box-check-group{float: left;width: 60%;line-height: 40px;}
    .box-check-group input[type='radio']{padding: 10px;position: relative;width: 20px;height: 20px;border:1px solid #a1a1a1; border-radius: 50%;background: #efefef;margin-left: 20px;}
    .box-check-group input[type='radio']:checked:after{
        content: ' ';
        width: 12px;
        height: 12px;
        border-radius: 50px;
        margin-top:-6px;
        margin-left:-6px;
        position: absolute;
        top: 50%;
        background: #007aff;
        color: #007aff;
        box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
        text-shadow: 0px;
        left: 50%;
    }
    }
    textarea {
        line-height: 21px;
        border: 1px solid rgba(0,0,0,.2) !important;
        /*padding: 8px;*/
    }
    .block-dis{display: block;}
    .mui-input-btn-label button .mui-icon{font-size: 24px !important;}
    .mui-input-btn-label button {border-radius: 0px  !important;margin-top: -1px !important;}
    .display-none{display: none}
    </style>
    
</head>
<body>
    <header class="mui-bar mui-bar-nav">
        <a class="mui-icon mui-icon-home mui-action-home"></a>
        <h1 class="mui-title">企业项目录入</h1>
        <a class="mui-pull-right clientIndex-go">
            <i class="mui-icon mui-icon-bars"></i>
        </a>
    </header>
    <div class="mui-content">
        <form class="mui-input-group" id="form_client">
        <!-- 申请日期 -->
        <div class="mui-input-date mui-input-row mui-input-btn-label">
            <label>登记日期</label>
            <input type="text" name="clientDate" placeholder="登记日期" id="clientDate" value="" readonly>
            <button id='clientDateBtn' data-options='{"type":"date"}' class="btn mui-btn mui-btn-block btn-date"><i class="mui-icon-extra mui-icon-extra-calendar"></i></button>
        </div>
        <div class="mui-input-row mui-input-btn-label">
            <label>客户名称</label>
            <input type="text" name="compName" placeholder="客户名称" id="compName" value="">
            <input type="hidden" name="id" value="">
            <button id='showSearchTel' class="mui-btn mui-btn-block btn" type='button'><i class="mui-icon mui-icon-person"></i></button>
            <input type="hidden" name="userId" id='userId' value="">
        </div>
        <div class="mui-input-row">
            <label>客户类型</label>
            <input type="text" name="clientType" placeholder="客户类型" id="clientType" value="企业" readonly>
        </div>
        <div class="mui-input-row mui-input-btn-label">
            <label>客户等级</label>
            <input type="text" name="levelText" placeholder="客户等级" id="levelText" value="" readonly>
            <button id='showLevel' data-select='' class="mui-btn mui-btn-block btn-select" type='button'><i class="mui-icon mui-icon-more"></i></button>
            <input class="select-hide" type="hidden" id="level" name="level" value="">
        </div>
        <div class="mui-input-row mui-input-btn-label">
            <label>省</label>
            <input type="text" name="area_text1" placeholder="省" id="area_text1" value="" readonly class="area-text">
            <button id='showarea_id1'  data-level=1 data-select='' class="mui-btn mui-btn-block btn-select-area" type='button'><i class="mui-icon mui-icon-more"></i></button>
            <input class="select-hide" type="hidden" id="area_id1" name="area_id1" value="10808">
        </div>
        <div class="mui-input-row mui-input-btn-label">
            <label>市</label>
            <input type="text" name="area_text2" placeholder="市" id="area_text2" value="" readonly class="area-text">
            <button id='showarea_id2' data-select='' class="mui-btn mui-btn-block btn-select-area" data-level=2 type='button'><i class="mui-icon mui-icon-more"></i></button>
            <input class="select-hide" type="hidden" id="area_id2" name="area_id2" value="">
        </div>
        <div class="mui-input-row mui-input-btn-label">
            <label>区</label>
            <input type="text" name="area_text3" placeholder="区" id="area_text3" value="" readonly class="area-text">
            <button id='showarea_id3'  data-level=3 data-select='' class="mui-btn mui-btn-block btn-select-area" type='button'><i class="mui-icon mui-icon-more"></i></button>
            <input class="select-hide" type="hidden" id="area_id3" name="area_id3" value="">
        </div>
        <div class="mui-input-row mui-input-btn-label">
            <label>镇</label>
            <input type="text" name="area_text4" placeholder="镇" id="area_text4" value="" readonly>
            <button id='showarea_id4'  data-level=4 data-select='[]' class="mui-btn mui-btn-block btn-select-area" type='button'><i class="mui-icon mui-icon-more"></i></button>
            <input class="select-hide" type="hidden" id="area_id4" name="area_id4" value="">
        </div>
        <div class="mui-input-row">
            <label>详细地址</label>
            <input type="text" name="address" placeholder="详细地址" id="address" value="">
        </div>
        <div class="mui-input-row mui-input-btn-label">
            <label>付款模式</label>
            <input type="text" name="isDaikText" placeholder="付款模式" id="isDaikText" value="全款" readonly>
            <button id='showIsDaik' data-select='' class="mui-btn mui-btn-block btn-select" type='button'><i class="mui-icon mui-icon-more"></i></button>
            <input class="select-hide" type="hidden" id="isDaik" name="isDaik" value="">
        </div>
        <div class="mui-input-row display display-none">
            <label>贷款年限</label>
            <input type="text" name="daikyearText" placeholder="贷款年限" id="daikyearText" value="5年" readonly>
            <input class="select-hide" type="hidden" id="daikyear" name="daikyear" value="5">
        </div>
        <div class="mui-input-row display display-none">
            <label>借款人</label>
            <input type="text" name="borrowName" placeholder="借款人" id="borrowName" value="">
        </div>
        <div class="mui-input-row mui-input-btn-label">
            <label>负责人</label>
            <input type="text" name="fuzerenText" placeholder="负责人" id="fuzerenText" value="" readonly>
            <button id='showfuzerenText' data-select='' class="mui-btn mui-btn-block btn-select" type='button'><i class="mui-icon mui-icon-more"></i></button>
            <input class="select-hide" type="hidden" id="fuzerenId" name="fuzerenId" value="">
        </div>
        <div class="mui-input-row mui-input-btn-label">
            <label>勘察人</label>
            <input type="text" name="kancharenText" placeholder="勘察人" id="kancharenText" value="" readonly>
            <button id='showkancharenText' data-select='' class="mui-btn mui-btn-block btn-select" type='button'><i class="mui-icon mui-icon-more"></i></button>
            <input class="select-hide" type="hidden" id="kancharenId" name="kancharenId" value="">
        </div>
        <div class="mui-input-row mui-input-btn-label">
            <label>屋顶类型</label>
            <input type="text" name="roofText" placeholder="屋顶类型" id="roofText" value="" readonly>
            <button id='showroofText' data-select='' class="mui-btn mui-btn-block btn-select" type='button'><i class="mui-icon mui-icon-more"></i></button>
            <input class="select-hide" type="hidden" id="roofId" name="roofId" value="">
        </div>
        <div class="mui-input-row">
            <label>屋顶朝南面积(m²)</label>
            <input type="text" name="acreage" placeholder="屋顶朝南面积" id="acreage" value="">
        </div>
        <div class="mui-input-row" style="height: auto;">
            <label>申请容量(KWp)</label>
            <input type="text" name="ApplyCapacity" placeholder="申请容量" id="ApplyCapacity" value="">
        </div>
        <div class="mui-input-row">
            <label>户表号</label>
            <input type="text" name="hubiaoCard" placeholder="户表号" id="hubiaoCard" value="">
        </div>
        <div class="mui-input-row">
            <label>上述材料是否递交</label>
            <div class="box-check-group">
                <input type="radio" name='isHand' value="0" checked>否
                <input type="radio" name='isHand' value="1" >是
            </div>
        </div>
        <div class="mui-input-row">
            <label>跟进供电局人员</label>
            <input type="text" name="powerStaff" placeholder="跟进供电局人员" id="powerStaff" value="">
        </div>
        <div class="mui-input-row">
            <label>跟进人电话</label>
            <input type="text" name="followTel" placeholder="跟进人员电话" id="followTel" value="">
        </div>
        <div class="mui-input-row">
            <label>联系人</label>
            <input type="text" name="people" placeholder="联系人" id="people" value="">
        </div>
        <div class="mui-input-row">
            <label>联系电话</label>
            <input type="text" name="phone" placeholder="联系电话" id="phone" value="">
            <input type="hidden" name="contactId" id="contactId" value="">
        </div>
        <div class="mui-input-row" style="height: auto;">
            <label>备注</label>
            <textarea class="form-control" placeholder="备注" rows="2" name="memo" id="memo"></textarea>
        </div>
        </form>
        <div class="" style="height: 50px;"></div>
    </div>

    <footer>
        <button type="button" id="btn_submit" class="mui-btn mui-btn-block mui-btn-primary" >确定并保存</button>
    </footer>
</body>
<script src="../../js/mui.min.js"></script>
<script src="../../js/zepto.js"></script>
<script src="../../js/mui.picker.js"></script>
<script src="../../js/mui.picker.min.js"></script>
<script src="../../js/mui.poppicker.js"></script>
<script src="../../js/mui.enterfocus.js"></script>
<script src="../../js/template.min.js"></script>
<script src="../../config.js"></script>
<script src="../../js/app.js"></script>
<script src="../../js/sign.js"></script>
<script src="../../js/md5.js"></script>
<script src="../../js/jquery.1.9.1.js"></script>
<script type="text/javascript">
    var jQuery = jQuery.noConflict();
</script> 
<script>
	var acreage = '0.08';
	var sid = localStorage.getItem("sid");
	var pickerArea = [];
	var city1={};
	var city2={};
	var city3={};
	var city4={};
	jQuery('.btn-select-area').each(function(){
		var llevel = jQuery(this).data('level');
	    pickerArea[llevel] = new mui.PopPicker();
	});
	
    mui.init();
    
    mui.plusReady(function(){
    	var obj_xx = {};
		obj_xx['sid'] = sid;
		obj_xx['pid'] = "";
		obj_xx["method"] = config.apimethod.qyxmsqinit;
		obj_xx["version"] = config.apiversion;
		var sign = GetSign(obj_xx);
		var param_xx = {
	        queryData: {
	          'method': config.apimethod.qyxmsqinit,
	          'sign':sign,
	          'sid':sid,
	          'pid':''
	        },
	        method: 'POST'
	    }
		$.dataRequest(param_xx, function(rs) {
			if(rs.rsp=="succ")
		    {
		    	jQuery("#clientDate").val(rs.data.clientDate);
		    	jQuery("#compName").val(rs.data.compName);
		    	jQuery("#showLevel").data("select",rs.data.Options.levelArr);
		    	jQuery("#level").val(rs.data.levelId);
		    	jQuery("#address").val(rs.data.address);
		    	jQuery("#showIsDaik").data("select",rs.data.Options.isDaik);
		    	jQuery("#isDaik").val(rs.data.isDaik);
		    	jQuery("#daikyear").val(rs.data.daikyear);
		    	jQuery("#daikyearText").data("select",rs.data.Options.daikyear[0].text);
		    	jQuery("#borrowName").val(rs.data.borrowName);
		    	jQuery("#showfuzerenText").data("select",rs.data.Options.fuzerenArr);
		    	jQuery("#fuzerenId").val(rs.data.fuzerenId);
		    	jQuery("#showkancharenText").data("select",rs.data.Options.kancharenArr);
		    	jQuery("#kancharenId").val(rs.data.kancharenId);
		    	jQuery("#showroofText").data("select",rs.data.Options.roofName);
		    	jQuery("#roofId").val(rs.data.roofId);
		    	jQuery("#acreage").val(rs.data.acreage);
		    	jQuery("#ApplyCapacity").val(rs.data.applyCapacity);
		    	jQuery("#hubiaoCard").val(rs.data.hubiaoCard);
		    	jQuery("#powerStaff").val(rs.data.powerStaff);
		    	jQuery("#followTel").val(rs.data.followTel);
		    	jQuery("#people").val(rs.data.linkPeople);
		    	jQuery("#phone").val(rs.data.linkTel);
		    	jQuery("#memo").val(rs.data.memo);
		    	
		    	var val_area = {};
			    val_area["mid"] = "";
			    val_area["timestamp"] = new Date().getTime();
			    val_area["method"] = config.apimethod.arealist;
				val_area["version"] = config.apiversion;
			    var sign_area = GetSign(val_area);
			    var param_area = {
			        queryData: {
			          'method': config.apimethod.arealist,
			          'sign':sign_area,
			          'mid':"",
			          'timestamp':val_area["timestamp"]
			        },
			        method: 'POST'
			    }
			    $.dataRequest(param_area, function(rs1) {
			        if(rs1.rsp=="succ")
			        {
			        	console.log(JSON.stringify(rs1.data.Area[0]));
			        	jQuery("#showarea_id1").data("select",rs1.data.Area[0]);
			        	pickerArea[1].setData(rs1.data.Area[0]);
			        	for(var i = 0;i<rs1.data.Area[0].length;i++)
			        	{
			        		city1[rs1.data.Area[0][i].text] = rs1.data.Area[0][i].value;
			        		if(rs1.data.Area[0][i].value==rs.data.Areas.selected[0])
			        			jQuery('#area_text1').val(rs1.data.Area[0][i].text);
			        	}
			        	pickerArea[2].setData(rs.data.Areas.Area[1]);
			        	for(var i = 0;i<rs.data.Areas.Area[1].length;i++)
			        	{
			        		city2[rs.data.Areas.Area[1][i].text] = rs.data.Areas.Area[1][i].value;
			        		if(rs.data.Areas.Area[1][i].value==rs.data.Areas.selected[1])
			        			jQuery('#area_text2').val(rs.data.Areas.Area[1][i].text);
			        	}
			        	pickerArea[3].setData(rs.data.Areas.Area[2]);
			        	for(var i = 0;i<rs.data.Areas.Area[2].length;i++)
			        	{
			        		city3[rs.data.Areas.Area[2][i].text] = rs.data.Areas.Area[2][i].value;
			        		if(rs.data.Areas.Area[2][i].value==rs.data.Areas.selected[2])
			        			jQuery('#area_text3').val(rs.data.Areas.Area[2][i].text);
			        	}
			        	pickerArea[4].setData(rs.data.Areas.Area[3]);
			        	for(var i = 0;i<rs.data.Areas.Area[3].length;i++)
			        	{
			        		city4[rs.data.Areas.Area[3][i].text] = rs.data.Areas.Area[3][i].value;
			        		if(rs.data.Areas.Area[3][i].value==rs.data.Areas.selected[3])
			        			jQuery('#area_text4').val(rs.data.Areas.Area[3][i].text);
			        	}
			        	setdq();
			        	changedq(1);
			        	
					    //公式计算申请容量
					    jQuery('#acreage').change(function(){
					        var zhuangji = parseFloat(jQuery(this).val()||0)*acreage;
					        zhuangji = zhuangji.toFixed(4);
					        jQuery('#ApplyCapacity').val(zhuangji);
					    });
					
					    //日期选择
					    var btns = mui('.btn-date');
					    btns.each(function(i, btn) {
					        btn.addEventListener('tap', function() {
					            var optionsJson = this.getAttribute('data-options') || '{}';
					            var options = JSON.parse(optionsJson);
					            var id = this.getAttribute('id');
					            var that = this;
					            /*
					             * 首次显示时实例化组件
					             * 示例为了简洁，将 options 放在了按钮的 dom 上
					             * 也可以直接通过代码声明 optinos 用于实例化 DtPicker
					             */
					            var picker = new mui.DtPicker(options);
					            picker.show(function(rs) {
					                jQuery(that).parents('.mui-input-date').find('input').val(rs.text);
					                picker.dispose();
					            });
					        }, false);
					    });
					
					    //选择类型
					    jQuery('.btn-select').each(function(){
					        var picker = new mui.PopPicker();
					        var json = jQuery(this).data('select');
					        picker.setData(json);
					        var forInput = jQuery(this).siblings('input[type=text]');
					        var forVal = jQuery(this).siblings('input[type=hidden]');
					        if(forVal.val()){
					            picker.pickers[0].setSelectedValue(forVal.val(), 2000);
					        }
					        this.addEventListener('tap', function(event) {
					            picker.show(function(items) {
					                forInput && forInput.val(items[0]['text']);
					                forVal && forVal.val(items[0]['value']);
					                forVal.change();
					            });
					        }, false);
					    });
					
					    //显示贷款类型信息
					    jQuery('#isDaik').change(function(){
					        var that = this;
					        var type = jQuery(that).val();
					        var dis = jQuery(that).parents('.mui-content').find('.display');
					        if(type==0) {
					            dis.addClass("display-none");
					        }else{
					            dis.removeClass("display-none");
					        }
					    });
					    
					    jQuery('.display').each(function(){
					        var type = jQuery('#isDaikText').val();
					        if(type=='全款') {
					            jQuery(this).addClass("display-none");
					        }else{
					            jQuery(this).removeClass("display-none");
					        }
					    });
					    
			        }else
			        {
			        	plus.nativeUI.toast("获取失败：" + rs1.data);
						return;
			        }
			    });
		    }
		})
    })
    
    //修改的时候默认给输入框显示值
    jQuery('.select-hide[value!=""]').each(function(){
        var textInput=jQuery(this).siblings('input[type=text]');
        var _data = jQuery(this).siblings('button').data('select');
        var curVal = jQuery(this).val();
        if(!textInput.value){
            for(var k in _data){
                if(_data[k]['value'] == curVal){
                    textInput.val(_data[k]['text']);
                }
            }
        }
    });
    
    function changedq(n){
    	//改变取值后，对下一级进行更新选项
    	var obj = {};
    	switch(n)
    	{
    		case 1:
    			obj = city1;
    		break;
    		case 2:
    			obj = city2;
    		break;
    		case 3:
    			obj = city3;
    		break;
    		case 4:
    			obj = city4;
    		break;
    	}
	    jQuery('.area-text').change(function(){
	        var that = this;
	        var curLevel = parseInt(jQuery(this).siblings('button').data('level'))||1;
	        //jQuery(this).siblings('input[type=hidden]').val(obj[jQuery(this).val()]);
	        curLevel = curLevel+1;
	        console.log(curLevel);
	        //强制清空下级所有数据
	        for(var le=curLevel;le<=4;le++){
	            pickerArea[le].setData([]);
	            //清空text和hidden值
	            jQuery('#area_text'+le).val('');
	            jQuery('#area_text'+le).siblings('input[type=hidden]').val('');
	        }
	        //清空end

	        //获取下一级地区数据
	        var button = jQuery('#area_text'+curLevel).siblings('button');
	        // button.attr('disabled' ,'disabled');

	        var area_id = jQuery(this).siblings('input[type=hidden]').val();
	        console.log(area_id);
	        button.attr('data-select','');
	        //开始到后台获取数据
	        var val_obj = {};
			val_obj["areaid"] = area_id;
			val_obj["timestamp"] = new Date().getTime();
			val_obj["method"] = config.apimethod.areachildlist;
			val_obj["version"] = config.apiversion;
			console.log(val_obj); 
			var sign = GetSign(val_obj);
			console.log(sign);
			var param = {
		        queryData: {
		          'method': config.apimethod.areachildlist,
		          'sign':sign,
		          'areaid':area_id,
		          'timestamp':val_obj["timestamp"]
		        },
		        method: 'POST'
		    }
			$.dataRequest(param, function(rs1) {
		        if(rs1.rsp=="succ")
    			{
    				console.log(JSON.stringify(rs1.data));
    				jQuery("#showarea_id"+curLevel).data("select",rs1.data);
    				for(var i = 0;i<rs1.data.length;i++)
		        	{
		        		if(curLevel==2)
		        		{
		        			city2[rs1.data[i].text] = rs1.data[i].value;
		        			pickerArea[2].setData(rs1.data);
		        		}else if(curLevel==3)
		        		{
		        			city3[rs1.data[i].text] = rs1.data[i].value;
		        			pickerArea[3].setData(rs1.data);
		        		}else
		        		{
		        			city4[rs1.data[i].text] = rs1.data[i].value;
		        			pickerArea[4].setData(rs1.data);
		        		}
		        	}
		        	console.log(JSON.stringify(city2));
    				setdq2(curLevel);
    				if(curLevel<4)
    					changedq(curLevel);
    			}
		    });
	    });
    }
	
    function setdq(){
    	jQuery('.btn-select-area').each(function(){
    		var llevel = jQuery(this).data('level');
    		this.addEventListener('tap', function(event) {
    			var level = parseInt(jQuery(this).data('level'))||1;
    			if(level != 1){
	                //查看上一级是否已经选择，没有选择上级不能拿选择当前地区
	                var prevLevel = level - 1;
	                var _tmpval = jQuery('#area_text'+prevLevel).val();
	                if(!_tmpval){
	                    mui.toast('请先选择上级地区');
	                    return;
	                }
	           }
    			var forInput = jQuery(this).siblings('input[type=text]');
		        var forVal = jQuery(this).siblings('input[type=hidden]');
		        var oldVal = forInput.val();
		        if(forVal.val()){
		            pickerArea[llevel].pickers[0].setSelectedValue(forVal.val(), 2000);
		        } 
    			pickerArea[llevel].show(function(items) {
	                forInput && forInput.val(items[0]['text']);
	                forVal && forVal.val(items[0]['value']);
	                if(oldVal!=items[0]['text'])forInput.change();
	            });
    		});
    	});
    }
    function setdq2(curLevel){
    	jQuery('.btn-select-area').each(function(){
    		var llevel = jQuery(this).data('level');
    		if(parseInt(llevel)>=parseInt(curLevel))
    		{
    			this.addEventListener('tap', function(event) {
	    			var level = parseInt(jQuery(this).data('level'))||1;
	    			if(level != 1){
		                //查看上一级是否已经选择，没有选择上级不能拿选择当前地区
		                var prevLevel = level - 1;
		                var _tmpval = jQuery('#area_text'+prevLevel).val();
		                if(!_tmpval){
		                    mui.toast('请先选择上级地区');
		                    return;
		                }
		            }
	    			var forInput = jQuery(this).siblings('input[type=text]');
			        var forVal = jQuery(this).siblings('input[type=hidden]');
			        var oldVal = forInput.val();
			        if(forVal.val()){
			            pickerArea[llevel].pickers[0].setSelectedValue(forVal.val(), 2000);
			        } 
	    			pickerArea[llevel].show(function(items) {
		                forInput && forInput.val(items[0]['text']);
		                forVal && forVal.val(items[0]['value']);

		                if(oldVal!=items[0]['text'])forInput.change();
		            });
	    		});
    		}
    	});
    }

    //首页
    mui(document.body).on('tap','.mui-action-home',function(){
        document.location.href = 'index.php';
    });
    mui(document.body).on('tap','.clientIndex-go',function(){
        document.location.href = jQuery('.clientIndex-go').attr('href');
    });
    
    //提交按钮事件：需要验证基本信息
    var rulesRequired = ['compName','levelText','area_text1','area_text2','area_text3','area_text4','address','fuzerenText','ApplyCapacity'];
    jQuery('#btn_submit').click(function(){
        var that = this;
        var waiting = plus.nativeUI.showWaiting();
        //验证是否填写
        var _rule_res = '';
        jQuery(rulesRequired).each(function(){
            var _val = jQuery('#'+this).val();
            if(!_val){
                _rule_res = jQuery('#'+this).attr('placeholder');
                return false;
            }
        });

        if(_rule_res){
            mui.alert(_rule_res+'必填');
            waiting.close();
            return;
        }
        
    	var clientType = jQuery("#clientType").val();
    	var compName = jQuery("#compName").val();
    	var acreage = jQuery("#acreage").val();
    	var clientDate = jQuery("#clientDate").val();
    	var isDaik = jQuery("#isDaik").val();
    	var daikyear = jQuery("#daikyear").val();
    	var borrowName = jQuery("#borrowName").val();
    	var address = jQuery("#address").val();
    	var memo = jQuery("#memo").val();
    	var hubiaoCard = jQuery("#hubiaoCard").val();
    	var levelId = jQuery("#level").val();
    	var isHand = jQuery("input[name='isHand']:checked").val();
    	var powerStaff = jQuery("#powerStaff").val();
    	var followTel = jQuery("#followTel").val();
    	var linkPeople = jQuery("#people").val();
    	var linkTel = jQuery("#phone").val();
    	var fuzerenId = jQuery("#fuzerenId").val();
    	var kancharenId = jQuery("#kancharenId").val();
    	var mid = jQuery("#userId").val();
    	var rongliang = jQuery("#ApplyCapacity").val();
    	var areaid1 = jQuery("#area_id1").val();
    	var areaid2 = jQuery("#area_id2").val();
    	var areaid3 = jQuery("#area_id3").val();
    	var areaid4 = jQuery("#area_id4").val();
    	var roofId = jQuery("#roofId").val();
    	
    	var obj_add = {};
    	obj_add["sid"] = sid;
    	obj_add["id"] = '';
		obj_add["clientType"] = clientType;
		obj_add["compName"] = compName;
		obj_add["acreage"] = acreage;
		obj_add["clientDate"] = clientDate;
		obj_add["isDaik"] = isDaik;
		obj_add["daikyear"] = daikyear;
		obj_add["borrowName"] = borrowName;
		obj_add["address"] = address;
		obj_add["memo"] = memo;
		obj_add["hubiaoCard"] = hubiaoCard;
		obj_add["rongliang"] = rongliang;
		obj_add["areaid1"] = areaid1;
		obj_add["areaid2"] = areaid2;
		obj_add["areaid3"] = areaid3;
		obj_add["areaid4"] = areaid4;
		obj_add["levelId"] = levelId;
		obj_add["isHand"] = isHand;
		obj_add["powerStaff"] = powerStaff;
		obj_add["followTel"] = followTel;
		obj_add["linkPeople"] = linkPeople;
		obj_add["linkTel"] = linkTel;
		obj_add["fuzerenId"] = fuzerenId;
		obj_add["kancharenId"] = kancharenId;
		obj_add["mid"] = mid;
		obj_add["roofId"] = roofId;
		obj_add["method"] = config.apimethod.comjzsave;
		obj_add["version"] = config.apiversion;
    	var sign = GetSign(obj_add);
    	
    	var param_add = {
	        queryData: {
	          'method': config.apimethod.comjzsave,
	          'sign':sign,
	          'sid':sid,
			  'id':'',
			  'clientType':clientType,
			  'compName':compName,
			  'acreage':acreage,
			  'clientDate':clientDate,
			  'isDaik':isDaik,
			  'daikyear':daikyear,
			  'borrowName':borrowName,
			  'address':address,
			  'memo':memo,
			  'hubiaoCard':hubiaoCard,
			  'isHand':isHand,
			  'powerStaff':powerStaff,
			  'levelId':levelId,
			  'followTel':followTel,
			  'linkPeople':linkPeople,
			  'linkTel':linkTel,
			  'fuzerenId':fuzerenId,
			  'kancharenId':kancharenId,
			  'mid':mid,
			  'roofId':roofId,
			  'rongliang':rongliang,
			  'areaid1':areaid1,
			  'areaid2':areaid2,
			  'areaid3':areaid3,
			  'areaid4':areaid4
	        },
	        method: 'POST'
	    }
    	
    	$.dataRequest(param_add, function(rs) {
	        waiting.close(); 
	        if(rs.rsp=="succ")
	        {
	        	if(rs.data.status=="succ"){
	        		plus.nativeUI.toast("保存成功");
	        		clicked('_www/view/hyzx/hyzx.html');
					//return;
	        	}else
	        	{
	        		plus.nativeUI.toast("保存失败：" + rs.data.msg);
					return;
	        	}
	        }else
	        {
	        	plus.nativeUI.toast("保存失败：" + rs.data);
				return;
	        }
	    });
    });

    jQuery('#showSearchTel').click(function(){
    mui.prompt(
        '请输入关联手机号',
        '',
        null,
        ''
        ,function(e){
            if(e.index == 1){
                if (e.value == '') {
                    mui.toast("关联手机号未填")
                }else{
                	var obj_tel = {};
                	obj_tel["sid"] = sid;
                	obj_tel["tel"] = e.value;
                	obj_tel["method"] = config.apimethod.jmxmtel;
					obj_tel["version"] = config.apiversion;
					var sign = GetSign(obj_tel);
					var param_tel = {
						queryData: {
				          'method': config.apimethod.jmxmtel,
				          'sign':sign,
				          'sid':sid,
				          'tel':e.value
				        },
				        method: 'POST'
					}
					$.dataRequest(param_tel, function(rs) {
						if(rs.rsp == "succ")
						{
                            jQuery('#compName').val(rs.data.showName);
                            jQuery('#userId').val(rs.data.mid);
                            jQuery('#address').val(rs.data.address);
                            jQuery('#fuzerenId').val(rs.data.fuzerenId);
                            jQuery("#area_id1").val(rs.data.Areas.selected[0]);
				        	jQuery("#area_id2").val(rs.data.Areas.selected[1]);
				        	jQuery("#area_id3").val(rs.data.Areas.selected[2]);
				        	jQuery("#area_id4").val(rs.data.Areas.selected[3]);
				        	if(rs.data.Areas.selected[0])
				        	{
				        		for(var i = 0;i < rs.data.Areas.Area[0].length;i++)
				        		{
				        			if(rs.data.Areas.Area[0][i].value == rs.data.Areas.selected[0])
				        			{
				        				jQuery("#area_text1").val(rs.data.Areas.Area[0][i].text);
				        			}
				        		}
				        	}
				        	if(rs.data.Areas.selected[1])
				        	{
				        		for(var i = 0;i < rs.data.Areas.Area[1].length;i++)
				        		{
				        			if(rs.data.Areas.Area[1][i].value == rs.data.Areas.selected[1])
				        			{
				        				jQuery("#area_text2").val(rs.data.Areas.Area[1][i].text);
				        			}
				        		}
				        	}
				        	if(rs.data.Areas.selected[2])
				        	{
				        		for(var i = 0;i < rs.data.Areas.Area[2].length;i++)
				        		{
				        			if(rs.data.Areas.Area[2][i].value == rs.data.Areas.selected[2])
				        			{
				        				jQuery("#area_text3").val(rs.data.Areas.Area[2][i].text);
				        			}
				        		}
				        	}
				        	if(rs.data.Areas.selected[3])
				        	{
				        		for(var i = 0;i < rs.data.Areas.Area[3].length;i++)
				        		{
				        			if(rs.data.Areas.Area[3][i].value == rs.data.Areas.selected[3])
				        			{
				        				jQuery("#area_text4").val(rs.data.Areas.Area[3][i].text);
				        			}
				        		}
				        	}
						}
					})
                   
                }
            }
        })
    });


</script>
</html>